* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #001e1c;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube {
    width: 200px;
    height: 200px;
    animation: CubeRotation 15s linear infinite alternate;
    transform-style: preserve-3d;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        box-shadow: 0 0 10px #000;
        height: inherit;
        width: inherit;

        >img {
            height: inherit;
            width: inherit;
            opacity: .9;
        }
    }

    .cube-face-1 {
        transform: translate3d(0, 0, 120px);
    }

    .cube-face-2 {
        transform: rotateY(180deg) translate3d(0, 0, 120px);
    }


    .cube-face-3 {
        transform: rotateY(-90deg) translate3d(0, 0, 120px);
    }

    .cube-face-4 {
        transform: rotateY(90deg) translate3d(0, 0, 120px);
    }

    .cube-face-5 {
        transform: rotateX(90deg) translate3d(0, 0, 120px);
    }

    .cube-face-6 {
        transform: rotateX(-90deg) translate3d(0, 0, 120px);
    }

}



@keyframes CubeRotation {
    to {
        transform: rotateY(360deg) rotateX(480deg) rotateZ(720deg);
    }
}


.cubeShadow {
    width: 300px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
}